/*
COLORES
VERDE OSCURO        40,161,116
VERDE OSCURO OPACO  108,169,158
AZUL MARINO         73.135,172
AZUL CLARO:         80,200,234
VERDE PASTO:        78,174,74
VERDE PASTO CLARO:  116,193,87
*/

ul{
  list-style: none;
}

.imagen-fondo-1{
  background-image: url("../imagenes/bridge.jpg");
  background-size: cover;
}

.imagen-fondo-2{
  background-image: url("../imagenes/leaves.jpg");
  background-size: cover;
}

.imagen-fondo-3{
  background-image: url("../imagenes/cultura.jpg");
  background-size: cover;
}

h5{
  font-style: italic;
}

.sombra {
    font-weight: normal;
    text-shadow: 2px 2px rgba(0,0,0,.9);
}

.middle{
  display: table-cell;
  vertical-align: middle;
}

.cartel{
  font-size: 50px;
  margin-top: 50px;
}

.icon{
  height:50px;
  width: auto;
}

.move-right{
  padding: 10px;
}

button{
  outline: none
}

footer{
  right: 0;
  bottom: 0;
  width:100%;
  height: 10%;
  position: fixed;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1))
}

.change-vo:hover{background-color: rgb(40,161,116)};
.change-voo:hover{background-color: rgb(108,169,158);}
.change-am:hover{background-color: rgb(73,135,172);}
.change-ac:hover{background-color: rgb(80,200,234);}
.change-vpc:hover{background-color: rgb(116,193,87);}
.change-vp:hover{background-color: rgb(78,174,74);}

.vo{background-color: rgb(40,161,116)};
.voo{background-color: rgb(108,169,158);}
.am{background-color: rgb(73,135,172);}
.ac{background-color: rgb(80,200,234);}
.vpc{background-color: rgb(116,193,87);}
.vp{background-color: rgb(78,174,74);}
.no{background-color: rgb(135,60,35);}

h2{
  font-weight: bolder;
  font-style: italic;
}

video{
  overflow: true;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

.center {
    // position: absolute;
    // width: 100px;
    // height: 50px;
     top: 50%;
     left: 50%;
    // margin-left: -50px; /* margin is -0.5 * dimension */
    // margin-top: -25px;
 }​

.seccion{
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

// PARALLAX
.parallax-1{
  background-image: url("../imagenes/red-clouds.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2{
  background-image: url("../imagenes/luke.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    font-style: italic;
    font-size: 80px;

  }
}

.parallax-3{
  height: 100%;
  background-image: url("../imagenes/island.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    font-style: italic;
    font-size: 80px;
  }
}

.parallax-4{
  height: 100%;
  background-image: url("../imagenes/anemona.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    font-style: italic;
    font-size: 80px;
  }
}

.parallax-5{
  height: 100%;
  background-image: url("../imagenes/rascacielos.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2{
    font-style: italic;
    font-size: 80px;
  }
}

.parallax-icono{
  background-image: url("../imagenes/eukariota-vertical.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px;
}
