
div(id="carousel" class="carousel carousel-size slide" data-ride="carousel")
  div(class="carousel-inner cartel" style="top: 150px;" role="listbox")
    div.carousel-item.active.text-white
      div.row 
        div.col-2
        div.col-8.text-center
          h2.display-3.sombra CREAMOS VALOR, COMPROMISO Y SUSTENTABILIDAD,
        div.col-2
    div.carousel-item.text-white
      div.row 
        div.col-2
        div.col-8.text-center
          h2.display-3.sombra A TRAVES DE UNA RESPONSABILIDAD SOCIAL E INTEGRALMENTE EXPANDIDA.
        div.col-2
    div.carousel-item.text-white
      div.row 
        div.col-2
        div.col-8.text-center
          h2.display-3.sombra IMPULSANDO EL RESPETO A LA DIGNIDAD DE LA VIDA,
        div.col-2
    div.carousel-item.text-white
      div.row 
        div.col-2
        div.col-8.text-center
          h2.display-3.sombra EDIFICAMOS UNA SOCIEDAD GLOBAL DE PAZ Y COEXISTENCIA CREATIVA
        div.col-2
    div.carousel-item.text-white
      div.row 
        div.col-2
        div.col-8.text-center
          h2.display-3.sombra PROMOVIENDO LA COMPETENCIA HUMANISTICA,
        div.col-2
    div.carousel-item.text-white
      div.row 
        div.col-2
        div.col-8.text-center
          h2.display-3.sombra RECONOCEMOS E IRRUMPIMOS COMO HUMANIDAD COMPARTIDA.
        div.col-2
    div.carousel-item.text-white
      div.row 
        div.col-2
        div.col-8.text-center
          h2.display-3.sombra SER INTEGRAL Y SOCIALMENTE RESPONSABLE.
        div.col-2
          
