footer(style="height:50px;")
  div.container-fluid(style="bottom: 0;")
    div.row(style="height:100%;")
      div.text-center.col(style="background:rgb(90,255,124);")
        p
      div.text-center.col(style="background:rgb(52,127,48);")
        p
      div.text-center.col(style="background:rgb(70,62,255);")
        p
      div.text-center.col(style="background:rgb(88,140,255);")
        p
  div.row.text-center(style="background: black;")
    div.col
      p.text-white(style="font-size: 12px;") Todo el contenido que se muestra en esta página es propiedad de Eukariota Company      
    
        
