div.parallax-1
  div.parallax-icono
div.parallax-2#historia
  div.row
    p
  h2.text-white.text-center.sombra Nuestra historia
  hr(style="background: white; width: 500px")
  div.seccion.container
    div.row
    div.row
      div.col.text-justify(style="background-color: white;")
        p(style="padding-top: 12px;") Érase una vez, en el período Precámbrico, unos 1,000 millones de años atrás,  cuando los organismos vivientes eran unicelulares; las Bacterias y Arqueas componían el nivel de vida más evolucionado. Estos seres que habitaban el planeta durante la era Tónica correspondían a la familia de células Prokariotas. La escasez, la selección y dominación de la tierra desafió a estos organismos a maximizar su eficiencia, ser competitivos y obtener los nutrientes necesarios para subsistir hasta enfrentarse -finalmente- en una lucha por predominar ¿Cuál de ellos preservó? En su empeño por sobrevivir se lanzaron a una contienda marcada por el destino; las bacterias contaban con una composición Alfa debido a ser un tipo de Proteobacteria: pequeña pero con mayor número de defensas que su antagónica la Arquea, ésta última contaba con mayor volumen y dimensión que su némesis. En la fatiga de la batalla es que ocurre algo inesperado; una alianza, una fusión! Un complemento simbiótico mutuo que dió origen a una nueva entidad, una súper célula; la Eukariota. Con una conciencia y núcleo definido, algo que carente en la célula anterior; el primer organismo pluricelular! Así fue como la vida se abrió paso a la siguiente evolución; se originaron las plantas.  
        p Esta simbiosis o hazaña nos hace pensar que los saltos o pasos en la escala evolutiva han tenido en común la integración, dos sociólogos laureados (Howarth y Morrison) dicen que integrarse es el nivel máximo de cooperación. Ser Integral y Socialmente Responsables significa para nosotros la combinación ideal de los trinomios productividad/rentabilidad/crecimiento con creatividad/desarrollo/esperanza; el modelo de gestión propuesto por la Responsabilidad Social Empresarial, Ciudadana y Gubernamental encuentra su coincidencia e integralidad en la propuesta de nuestra compañía; Eukariota.
    div.row
      p
      p . 
div.parallax-3#nosotros
  h2.text-white.text-center.sombra Nosotros
  hr(style="background: white; width: 500px")
  div.seccion.container
    div.row
      div.col.text-white.sombra.text-justify
        p Somos una agencia consultora compuesta por jóvenes empresarios, activistas y promotores de la Responsabilidad Social, nos dedicamos desde la infancia a visibilizar un mundo de paz, cultura y educación capaz de sostener, producir y administrar de manera sustentable los recursos que nos provee el planeta. 
          Nuestra firma consta de una integración de elementos profesionales como la Comunicación Responsable; Publicidad Sustentable; Marketing con Causa; Evaluaciones y Diagnósticos de Impacto; Certificaciones, Distintivos y Auditorias Ambientales y Sociales así como Gestión, Capacitación y Asesoría en procesos internos y externos de Responsabilidad Social Integrada. 
          Estaremos encantadas por apoyarte en hacer de tu organización o modelo de negocio un ejemplo social de responsabilidad integrada. 
        p.text-center .
div.parallax-4#mision
  h2.text-center.text-white.sombra Misión
  hr(style="background: white; width: 500px")
  div.section.container
    div.row
      div.col.text-white.sombra.text-justify
        p Impulsar, expandir y colocar la Responsabilidad Social Integral como sistema estándar en la planeación interna de las organizaciones, logrando con esto un mayor compromiso, innovación y sostenibilidad en los procesos de desarrollo y gestión industrial, artesanal, cívico y gubernamental de México.  
        p.text-center .
div.parallax-5#vision
  h2.text-center.text-white.sombra Visión
  hr(style="background: white; width: 500px")
  div.section.container
    div.row
      div.col.text-white.sombra.text-justify
        p Situar a la filantropía y Responsabilidad Social Integral como compromiso sistemático y sistémico de todas las organizaciones en México con el objeto de impactar e incidir significativa y positivamente los indicadores socioeconómicos de nuestro país. 
        p.text-center .
