div.container-fluid#comunicacion
  div.row.vpc
    p 
  div.row.imagen-fondo-1
    div.col-4.text-center.align-center
      h2.text-white.sombra Comunicación y Marketing Responsable
    div.col-8
      div.container-fluid#accordion
        div.card
          div.card-header#headingOne
            h5.mb-0
              a(class="text-center text-primary " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Desarrollo de Contenido
          div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion")
            div(class="card-body")
              ul 
                li  
                  p(style="font-weight: bold") Boletines. Mailing List. Papers. Columnas.
                li  
                  p(style="font-weight: bold") Gráfico; Fotografía. Infografías. Imágenes. Postales. Presentaciones ejecutivas.
                li
                  p(style="font-weight: bold") Audiovisual; Videos corporativos, institucionales, animados, musical. Live Streamings. Drone. Coberturas. 
                li
                  p(style="font-weight: bold") Inmersivo; Realidad Virtual. Realidad Aumentada. Web de Realidad Virtual. Videos 360º. 
        div.card
          div.card-header#headingTwo
            h5.mb-0
              a(class=" collapsed text-primary " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Publicidad Sustentable / Consumibles Biodegradables o Reciclados
          div(id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion")
            div.card-body
              ul 
                li  
                  p(style="font-weight: bold") Accesorios; llaveros, holders, pulseras, tasas, termos, cilindros, USB, Lentes, etc.
                li  
                  p(style="font-weight: bold") Papelería; plumas, papel, libretas, encuadernados.
                li
                  p(style="font-weight: bold") Bolsas, carteras, cangureras, mochilas.
                li
                  p(style="font-weight: bold") Bisutería
                li
                  p(style="font-weight: bold") Eco-Ropa
                li
                  p(style="font-weight: bold") Cosméticos
                li
                  p(style="font-weight: bold") Empaques
        div.card
          div.card-header#headingThree
            h5.mb-0
              a(class="collapsed text-primary " data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Marketing Social
          div(id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion")
            div.card-body
              ul
                li
                  p(style="font-weight: bold") Campañas de responsabilidad social integral de empresas, gobierno y colectivos dirigidas a sus grupos de interés (stakeholders)
                li
                  p(style="font-weight: bold") Colocación y adopción de agendas internacionales como son ONU/PNUMA 
                li
                  p(style="font-weight: bold") Slogans y branding
  div.row.vpc 
    p 
  div.row.imagen-fondo-2
    div.col-8.text-center
      div#accordion2
        div.card
          div.card-header#heading1-2
            h5.mb-0
              a(class=" text-primary " data-toggle="collapse" data-target="#collapse1-2" aria-expanded="true" aria-controls="collapse1-2") Gestión, Capacitación y Asesoría de Organización Integralmente Responsable
          div(id="collapse1-2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion2")
            div(class="card-body")
              ul
                li
                  p(style="font-weight: bold") Planeación estratégica y Gestión ambiental 
                li
                  p(style="font-weight: bold") Endomarketing e innovación social organizacional
                li
                  p(style="font-weight: bold") Capacitación
                li
                  p(style="font-weight: bold") Diálogo social e integración de consensos
                li
                  p(style="font-weight: bold") Modelos de Gestión Ambiental
                li
                  p(style="font-weight: bold") Integración Intersectorial (enfocada al sector público)
        div.card
          div.card-header#heading2-2
            h5.mb-0
              a(class=" text-primary  collapsed" data-toggle="collapse" data-target="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2") Certificaciones, Distintivos y Auditorías Ambientales y/o Sociales
          div(id="collapse2-2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2")
            div.card-body
              ul
                li
                  p(style="font-weight: bold") RÍO
                li
                  p(style="font-weight: bold") ESR (CEMEFI)
                li
                  p(style="font-weight: bold") Cumplimiento Ambiental Voluntario (SEMADET)
                li
                  p(style="font-weight: bold") Industria Limpia (PROFEPA)
                li
                  p(style="font-weight: bold") ISO 14001
        div.card
          div.card-header#heading3-2
            h5.mb-0
              a(class=" text-primary collapsed" data-toggle="collapse" data-target="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2") Evaluaciones y Diagnósticos de Impacto 
          div(id="collapse3-2" class="collapse" aria-labelledby="headingThree" data-parent="#accordion2")
            div.card-body
              ul
                li
                  p(style="font-weight: bold") Autoevaluaciones
                li
                  p(style="font-weight: bold") Indicadores e informes de Responsabilidad Social con base en los modelos de RSE y del Global Reporting Initiative (GRI)
                li
                  p(style="font-weight: bold") Estudios y evaluaciones de impacto social y ambiental
                li
                  p(style="font-weight: bold") Recomendaciones y propuestas
    div.col-4
      h2.text-white.sombra Consultoría y gestión de responsabilidad social
  div.row.ac 
    p 
  div.row.imagen-fondo-3
    div.col-4.text-center
      h2.text-white.sombra Manejo de Medios
    div.col-8.vp
      div#accordion3
        div.card
          div.card-header#headingOne
            h5.mb-0
              a(class="text-primary" data-toggle="collapse" data-target="#collapse1-3" aria-expanded="true" aria-controls="collapse1-3") Canales de comunicación
          div(id="collapse1-3" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion3")
            div.card-body
              ul
                li
                  p(style="font-weight: bold") Redes Sociales y Community management
                li
                  p(style="font-weight: bold") Tv
                li
                  p(style="font-weight: bold") Radio
                li
                  p(style="font-weight: bold") Cine
                li
                  p(style="font-weight: bold") Medios impresos
                li
                  p(style="font-weight: bold") Periódicos (impresos y digitales)
                li
                  p(style="font-weight: bold") SMS texto
                li
                  p(style="font-weight: bold") Mailing list
                li
                  p(style="font-weight: bold") Sitios web, Google Adwords y pautas publicitarias
                li
                  p(style="font-weight: bold") Tv y Radio por internet
                li
                  p(style="font-weight: bold") Boletines, ruedas de prensa y cobertura de medios
  div.row.vp
    p 
